:root
{
  --gray:#929AAB;
  --black:#393E46;
  --white:#F7F7F7;
  --lightwhite:#EEEEEE;

  --blue1:#F5EFFF;
  --blue2:#E5D9F2;
  --blue3:#CDC1FF;
  --blue4:#A294F9;


}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.btn{
  border: 1px solid var(--lightwhite);
  border-radius: 34px;
  color: var(--white);
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  /* background:linear-gradient(180deg,var(--blue3),var(--blue4)); */
  background:var(--blue4);
  box-shadow: 0px 5px 15px 2px var(--blue3);
  cursor: pointer;
}
  
.btn:hover{
  color: black;
  background: linear-gradient(180deg,var(--blue1),var(--blue2));
  border:1px solid var(--blue4);
}


.i-icons{
  display: flex;
}

.i-icons *{
  width: 3rem;
  height: 3rem;
}
  